.ten h1 {
  font-weight:500; text-transform:uppercase;
  color: white;
}
.ten h1:before {
    background-color: #2282ff;
    border-radius: 2rem;
    content: '';
    display: block;
    height: 0.5rem;
    width: 82px;
    margin-bottom: .5rem;
}
